{
  "rules": {
    "camelcase": [
      "error",
      {
        "properties": "never",
        "allow": [
          "access_token",
          "refresh_token",
          "expires_at"
        ]
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "import/extensions": [
      "error",
      "always"
    ]
  },
  "env": {},
  "extends": [
    "airbnb-base"
  ],
  "plugins": [],
  "parserOptions": {
    "ecmaVersion": 2021
  }
}
